<mat-card class="article-container">
  <mat-card-header>
    <img class="article-image" mat-card-avatar [src]="image" [alt]="title" />
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="article-content">
    <p>{{ content | slice : 0 : 250 }}...</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button class="read-more" mat-raised-button>
      Read More
      <mat-icon md-18>read_more</mat-icon>
    </button>
    <button class="bookmark" mat-raised-button>
      Bookmark
      <mat-icon md-18>bookmark</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
