.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
}

.search-container {
  justify-content: center;
  align-items: center;
}

button {
  margin: 8px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mdc-fab {
  width: 38px;
  height: 38px;
}
